<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id='title'>
        <h1>Uber Analysis</h1>
      </div>
      <div id="navbar">
        <a href="./">Home</a>
        <a href="./notebook.html">Notebook</a>
        <a href="./dashboard.html">Dashboard</a>
      </div>
      <iframe width="1333" height="700" src="https://datastudio.google.com/embed/reporting/2b8da1da-1950-4a34-bbc5-6e4bd2b2f418/page/ezKXC" frameborder="0" style="border:0" allowfullscreen></iframe>  
</body>
</html>